<!DOCTYPE html>
<html lang="en">
<head>
    <title>RoboStatus</title>
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="icon" href="/static/favicon.png">
    <script type="application/javascript">
        function populateTimes() {
            var times = document.getElementsByTagName("time");
            for (i = 0; i < times.length; i++) {
                var date = new Date(Number(times[i].attributes["datetime"].value)*1000)
                times[i].innerText = date.toDateString() + " " + date.toTimeString().split(" ")[0].substring(0, 5) + " (UTC)";
            }
        }
    </script>
</head>
<body onload="populateTimes()">
<div align="center">
    <h1>Robocraft Server Status</h1>
    <p>Unofficial status detector for Robocraft servers</p>
    {{#if staticdata_ok}}
        {{#if staticdata.MaintenanceMode}}
            <h2>Robocraft is in maintenance: {{staticdata.MaintenanceMessage}}</h2>
        {{/if}}
        {{#if staticdata.DevMessage}}
            <h2>Message from Freejam: {{staticdata.DevMessage}}</h2>
        {{/if}}
    {{/if}}
    {{!--{{debug}}--}}
    {{#if staticdata_ok}}
        <div align="left">
            <p>Minimum Version: {{staticdata.MinimumVersion}}</p>
            <p>Maintenance Mode? {{staticdata.MaintenanceMode}}</p>
            <p>EAC Enabled? {{staticdata.EacEnabled}}</p>
            <p>XSolla Enabled? {{staticdata.xsollaEnabled}}</p>
            <p>Packet size (max): {{staticdata.PacketSize}} ({{staticdata.MaxPacketSize}})</p>
        </div>
    {{/if}}
    {{#unless staticdata_ok}}
        <div align="left">
            <p>Static data server is down :(</p>
        </div>
    {{/unless}}
    <div>
        <h2>Incidents</h2>
        {{#each data.incidents}}
            <div>
                <time datetime="{{time}}" onload="populateTime(event)" onclick="populateTime(event)"></time>
                {{#if resolved}}
                    to <time datetime="{{resolved}}" onload="populateTime(event)"></time>
                {{/if}}
                {{#if message}} {{!-- Maintenance incident --}}
                    <h3>Maintenance</h3>
                    <p>{{message}}</p>
                {{/if}}
                {{#unless message}}
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                {{/unless}}
            </div>
        {{/each}}
    </div>
</div>
<footer>
    <div align="center">
        <p>Developed by <a href="https://twitter.com/NGniusness">NGniusness</a> | <a href="https://github.com/NGnius">Code</a></p>
    </div>
</footer>
</body>
</html>
