<!DOCTYPE html>
<html lang="en">
<head>
    <title>RoboStatus</title>
</head>
<body>
<div align="center">
    <h1>Robocraft Server Status</h1>
    <p>An unofficial status detector for Robocraft servers</p>
    {{#if staticdata_ok}}
        {{#if staticdata.MaintenanceMode}}
            <h2>Robocraft is in maintenace: {{staticdata.MaintenanceMessage}}</h2>
        {{/if}}
        {{#if staticdata.DevMessage}}
            <h2>Message from Freejam: {{staticdata.DevMessage}}</h2>
        {{/if}}
    {{/if}}
    {{!--{{debug}}--}}
    {{#if staticdata_ok}}
        <div align="left">
            <p>Minimum Version: {{staticdata.MinimumVersion}}</p>
            <p>Maintenace Mode? {{staticdata.MaintenanceMode}}</p>
            <p>EAC Enabled? {{staticdata.EacEnabled}}</p>
            <p>XSolla Enabled? {{staticdata.xsollaEnabled}}</p>
            <p>Packet size (max): {{staticdata.PacketSize}} ({{staticdata.MaxPacketSize}})</p>
        </div>
    {{/if}}
</div>
<footer>
    <div align="center">
        <p>Developed by <a href="https://twitter.com/NGniusness">NGniusness</a> | <a href="https://github.com/NGnius">Code</a></p>
    </div>
</footer>
</body>
</html>
